# Created by .ignore support plugin (hsz.mobi)
.idea/
tests/
environments/
vagrant/
vendor/bin/
vendor/bower/
vendor/cebe/
vendor/composer/
vendor/ezyang/
vendor/fzaninotto/
vendor/phpspec/
vendor/swiftmailer/
vendor/yiisoft/
backend/web/assets/
backend/runtime/
frontend/web/assets/
frontend/runtime/
console/runtime/
common/config/main-local.php
common/config/params-local.php
backend/config/main-local.php
backend/config/params-local.php
backend/web/index.php
frontend/config/main-local.php
frontend/config/params-local.php
frontend/web/index.php
