.is-overlay.prices .old-price {
    margin-right: 10px;
    text-decoration: line-through;
}

.top-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-item {
    background-size: cover;
    background-repeat: no-repeat;
}

.about .about-item, .blogIndexImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post-list .wrap-img img{
    width: 100%;
}